/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #011e29;
    text-align: center;
    padding: 20px;
    color: white;
}

.latest-news-section {
    background-color: #011e29;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    color: white;
}

.latest-news-section h2 {
    text-align: center;
}

.latest-news-section ul {
    list-style: none;
    padding: 0;
}

.latest-news-section li {
    padding: 5px 0;
}

.pictorial-news-section {
    background-color: #011e29;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.pictorial-news-section h3 {
    text-align: center;
}

.pictorial-news-section img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
